@import "tailwindcss";

/* App defaults */
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* -------- PRINT -------- */
@media print {
  aside,
  button,
  .toolbar {
    display: none !important;
  }

  body {
    overflow: hidden;
  }

  main {
    width: 100vw;
    height: 100vh;
  }
}
